{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'artstorage/css/style.css' %}">
    <title>ArtStorage</title>
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <div class="main-nav__general reset-list general">
                <ul class="general__list reset-list">
                    <li class="general__item item">
                        <a class="item__link" href="{% url 'authors' %}">Авторы</a>
                    </li>
                    <li class="general__item item">
                        <a class="item__link" href="{% url 'pictures' %}">Картины</a>
                    </li>
                    <li class="general__item item">
                        <a class="item__link" href="{% url 'projects' %}">Проекты</a>
                    </li>
                </ul>
            </div>
            <a class="logo" href="{% url 'home' %}">
                <img src="{% static 'artstorage/img/logo.svg' %}" alt="Логотип ArtStorage.">
            </a>
            <div class="main-nav__user reset-list user">
                <ul class="user__list">
                    <li class="user__item item">
                        <a class="item__link" href="{% url 'registration' %}">Регистрация</a>
                    </li>
                    <li class="user__item item">
                        <a class="item__link" href="{% url 'authorization' %}">Вход</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-container">
        <section class="begin-page">
            <h2 class="visually-hidden">Начало работы</h2>
            <p class="begin-page__title">Измени свою жизнь сегодня</p>
            <p class="begin-page__description">Создавай, делись, смотри, вдохновляйся, оценивай</p>
            <a class="begin-page__button" href="{% url 'authorization' %}">Начать</a>
            <img class="begin-page__welcome-picture" src="{% static 'artstorage/img/Welcome-picture.png' %}" alt="Илюстрация множества изображений.">
        </section>
    </main>

    <footer class="main-footer">
        <div class="copyright-container">
            <img class="copyright-container__picture" src="{% static 'artstorage/img/copyright.svg' %}" alt="Copyright">
            <p class="copyright-container__title">ArtStorage Design</p>
        </div>
    </footer>

</body>
</html>